.WhatToBuy {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .RecipesToBuy {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .TitleAndButton {
    display: flex;
    flex-direction: row;
    height: 15%;
  }
  
  
  .Title {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .WTBRecipeList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  .WTBRecipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
  }
  
  .Image {
    height: 50px;
    margin-right: 10px;
  }
  
  .Name {
    font-weight: bold;
    margin-right: 15px;
  }
  
  .Quantity {
    margin-left: auto;
    margin-right: 5px;
  }
  
  .AddButton {
    margin: auto;
    margin-left: 10px;
  }
  